# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc

# Django
db.sqlite3
db.sqlite3.*
*.dump
media/
staticfiles/

# Environment variables / secrets
.env

# IDE / editor
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
